{% extends "base.html" %}

{% block content %}
<div class="container">
    <h2 class="mt-4">Leaderboards</h2>
    <hr>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Username</th>
                    <th>Quiz</th>
                    <th>Average Score</th>
                </tr>
            </thead>
            <tbody>
                {% for score in top_scores %}
                <tr>
                    <td>{{ score.user__username }}</td>
                    <td>{{ score.quiz__title }}</td>
                    <td>{{ score.avg_score }}%</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
